<header class="site-header">
  <div class="container">
    <div class="logo-container">
      <button class="logo" routerLink="/home" (click)="closeMenu()">JBRYSKA</button>

      <button class="theme-switch" [class.light]="theme() === 'light'" [class.dark]="theme() === 'dark'"
        (click)="changeTheme()" aria-label="Zmień motyw">
        <div class="theme-thumb">
          @if(theme() !== 'dark'){
          <app-sun-icon />
          }@else{
          <app-moon-icon />
          }
        </div>
      </button>
    </div>

    <button class="hamburger" (click)="toggleMenu()" aria-label="Otwórz nawigacje">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav" [class.open]="menuOpen">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()">O mnie</a>
      <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()">Projekty</a>
      <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()">Kontakt</a>
    </nav>
  </div>
</header>