.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  height: 40px;
}

.site-footer .container {
  width: 200px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  border-radius: 15px;
  background: linear-gradient(145deg, #222, #111);
  box-shadow:
    0 0 10px var(--color-button-shadow-1),
    inset 0 0 8px var(--color-button-shadow-2);
  border: 2px solid var(--color-button-border);
  font-family: var(--font-family-header);
  font-weight: 600;
  transition:
    transform 0.1s ease,
    box-shadow 0.3s ease;
}

.site-footer .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  text-decoration: none;
  color: white;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

.site-footer .container a:hover {
  color: var(--color-accent-primary);
}

.site-footer .container a:hover svg {
  filter: drop-shadow(0 0 2px var(--color-accent-primary))
    drop-shadow(0 0 10px var(--color-accent-primary))
    drop-shadow(0 0 20px var(--color-accent-primary));
}
