<footer class="site-footer" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
  <div class="container" [ngStyle]="{'transform': transformStyle}">
    @for(links of footerLinks; track links.name){
    <a [href]="links.link" target="_blank" rel="noopener noreferrer" [aria-label]="links.ariaLabel">
      @switch (links.name) { @case('github'){
      <app-github-icon [size]="24" />
      } @case('linkedin'){
      <app-linkedin-icon [size]="24" />
      }@case('mail'){
      <app-mail-icon [size]="24" />
      }@case('x'){
      <app-twitter-icon [size]="24" />
      } }
    </a>
    }
  </div>
</footer>
