.container {
  font-family: var(--font-family-header);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 900px;
}
