.home-image {
  display: flex;
  margin-top: 20px;
}

.home-image h1 {
  margin-bottom: 0;
  font-size: 2.5rem;
}

.home-image p {
  margin: 0;
  font-size: 1.2rem;
}

p {
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-style: normal;
}

.home-image img {
  width: 150px;
  border-radius: 200px;
}

.home-skills-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.2rem;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.home-skills-icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 7px;
  background-color: var(--color-icon-background);
  color: var(--color-icon-text);
  box-shadow: 0 0 6px var(--color-icon-shadow);
}

.icon:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home-image h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8rem;
  }

  .home-image p {
    font-size: 1rem;
  }

  .image {
    display: flex;
    align-items: center;
  }
}
