:root {
  --color-text-primary: #222;
  --color-background-primary: #f5f5f5;
  --color-link-hover-glow: #b78eff;
  --color-link-hover-glow-light: #b78eff;
  --color-accent-primary: #6a2de2;
  --color-link-active-dark: #5b20cc;

  --color-icon-background: black;
  --color-icon-text: white;
  --color-icon-shadow: rgba(0, 0, 0, 0.2);
  --color-experience-circle: #ccc;
  --color-experience-square: #8b5ced;

  --color-button-shadow-1: rgba(139, 92, 237, 0.4);
  --color-button-shadow-2: rgba(139, 92, 237, 0.2);
  --color-button-border: rgba(139, 92, 237, 0.5);

  --color-header-bg: rgba(245, 245, 245, 0.8);
  --color-logo-text: #1e1e1e;
  --color-link-text: #1e1e1e;
  --color-hamburger: #1e1e1e;
  --color-neon-glow: #8b5ced;

  --font-family-header: 'Orbitron', sans-serif;
  --font-family-body: 'Montserrat', sans-serif;
}

html.dark {
  --color-text-primary: white;
  --color-background-primary: black;
  --color-accent-primary: #8b5ced;
  --color-link-active-dark: #8a5ced;

  --color-icon-background: white;
  --color-icon-text: black;
  --color-icon-shadow: rgba(255, 255, 255, 0.1);
  --color-experience-circle: #555;

  --color-header-bg: rgba(0, 0, 0, 0.8);
  --color-logo-text: white;
  --color-link-text: white;
  --color-hamburger: white;
}

html,
body {
  width: 100dvw;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin: 0;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.site-footer .container a:hover {
  color: var(--color-accent-primary);
}

.site-footer .container a:hover svg {
  filter: drop-shadow(0 0 2px var(--color-accent-primary))
    drop-shadow(0 0 10px var(--color-accent-primary))
    drop-shadow(0 0 20px var(--color-accent-primary));
}
